@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  margin: 0;
  padding: 0;
}
.cl-internal-180wb59{
  display: none;
}
.cl-internal-11ttlho{
  display: none;
}
.cl-internal-1lldyk3{
  display: none;
}
.cl-card {
  border-radius: 4px !important;
}

.drawer-menu-item {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.drawer-menu-item.active {
  background-color: "#1B4242" !important;
  color: white !important;
  border-radius: 0.25rem;
}


input {
  width: 100% !important;
}

.ant-form-item {
  margin-bottom: 5px !important;
}

.ant-steps-item-title {
  font-size: 14px !important;
}

table {
  border: 1px solid #b5b5b5 !important;
  margin-top: 10px !important;
}

/* property main image animation */

.property-main-image {
  transition: all 0.5s ease-in-out;
}


.property-main-image:hover {
  transform: scale(1.1);
}